/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 17, 2017, 7:13:41 AM
    Author     : tebibou
*/

/* Général ---------------------------------------------------------
---------------------------- */
body, p, legend, label, input {
font: normal 8pt verdana, helvetica, sans-serif;
}
fieldset {
padding: 10px;
border: 1px #0568CD solid;
}
legend {
font-weight: bold;
color: #0568CD;
}
/* Forms -----------------------------------------------------------
---------------------------- */
form label {
float: left;
width: 200px;
margin: 3px 0px 0px 0px;
}
form input {
margin: 3px 3px 0px 0px;
border: 1px #999 solid;
}
form input.sansLabel {
margin-left: 200px;
}
form .requis {
color: #c00;
}
